.solution {
  &__title {
    text-align: center;
    max-width: 604px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  &-tab__content {
    max-width: 707px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
  }
  &-tab__title {
    font-size: 24px;
    font-weight: 700;
  }
  &-tab__descr {
    color: var(--gray);
    line-height: 1.5;
  }
  &-tab__link {
    color: var(--accent);
    font-weight: 700;
    text-decoration: underline;
  }
}
