@import "../node_modules/swiper/swiper-bundle.css";

@import url(../node_modules/reset.css/reset.css);
// @import url(../node_modules/normalize.css/normalize.css);

:root {
  --dark: #202020;
  --gray: #565656;
  --gray-light: #f4f4f4;
  --accent: #6d23ff;
  --white: #fff;
  --font-family: "Space Grotesk";
  --content-width: 1300px;
  --container-offset: 20px;
  --container: calc(var(--content-width)+ (var(--container-offset) * 2));
}

.page-body {
  position: relative;
  font-family: var(--font-family);
  font-size: 1rem;
  margin: 0;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-offset);
}

.button-small {
  padding: 15px 17px;
  background-color: var(--gray-light);
  color: var(--dark);
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  border: 1px solid #cbcbcb;
  line-height: 1;
}

.button-trasnsparent {
}

.button-outline {
}
@import url("./section/header/header.scss");
