@import "../node_modules/swiper/swiper-bundle.css";

@import url(../node_modules/reset.css/reset.css);
// @import url(../node_modules/normalize.css/normalize.css);

:root {
  --dark: #202020;
  --gray: #565656;
  --accent: #6d23ff;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  overflow: hidden;
}

body {
  font-family: "Space Grotesk";
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

.container-min {
  max-width: 873px;
  margin: 0 auto;
}

.content-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  p {
    line-height: 1.5;
    max-width: 522px;
  }
}

.testimonial-slider__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 4.625rem 4.125rem;
  background-color: #f9f9f9;
  &__heading {
    font-size: 2.375rem;
    font-weight: 700;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.75rem;
    &__message {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
  .author {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    &__details {
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: flex-start;

      &__name {
        font-size: 1rem;
        font-weight: 500;
      }
      &__post {
        font-size: 0.813rem;
      }
    }
  }
}

.testimonial-slider {
  max-width: 970px;
  overflow: hidden;
  position: relative;
}

.grid-3col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.text-center {
  text-align: center;
}

.link {
  position: relative;
  color: var(--dark);
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: var(--accent);
  }
}

.link--underline {
  color: var(--accent);
  text-decoration: underline;
}

.button-group {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.button--fill {
  display: flex;
  align-items: center;
  padding: 1rem 1.87rem;
  background-color: var(--dark);
  color: var(--white);
  text-transform: capitalize;
  font-size: 1.1rem;
  line-height: 1;
  border: 1px solid var(--dark);

  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: transparent;
    color: var(--dark);
  }
}

input {
  font-size: 0.93rem;
  padding: 1.25rem 1.06rem;
}

.button--small {
  position: relative;
  padding: 0.75rem 1.25rem;
  color: var(--dark);
  font-weight: 700;
  border: 1px solid var(--gray);
  background-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: var(--dark);
    span {
      color: var(--white);
    }
  }
}

.dashboard {
  border: 6px solid var(--dark);
  border-radius: 12px;
  overflow: hidden;
  img {
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
  }
}

.button--outline {
  color: var(--accent);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1;

  padding: 1rem 1.87rem;
  background-color: transparent;
  border: 1px solid var(--accent);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: var(--accent);
    color: var(--white);
  }
}

.button {
  padding: 0.75rem 1.25rem;
  color: var(--dark);
  background-color: transparent;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.burger {
  width: 30px;
  height: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  &-line {
    width: 100%;
    height: 2px;
    background-color: var(--dark);
  }
}

p {
  color: var(--gray);
  font-size: 1.25rem;
}

.h1 {
  font-size: 3.76rem;
  max-width: 737px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  .accent {
    color: var(--accent);
  }
  @media screen and (max-width: 768px) {
    font-size: 3.2rem;
  }
  @media screen and (max-width: 425px) {
    font-size: 1.9rem;
  }
}

.h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
}
.h2-maxW {
  max-width: 466px;
}

.h3 {
  font-size: 1.62rem;
  font-weight: 600;
  line-height: 1.3;
}

.text-20 {
  line-height: 1.3;
  font-size: 1.25rem;
  font-weight: 400;
}

.text-16 {
  line-height: 1.24;
  font-size: 1rem;
  font-weight: 400;
}

.text-16--13 {
  line-height: 1.3;
  font-size: 1rem;
  font-weight: 400;
}

.section-padding {
  padding: 4.37rem 0;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.section {
  margin-top: 10rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  @media screen and (max-width: 950px) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  @media screen and (max-width: 452px) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.87rem;
  ul {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .tabs-header-wrapper {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    flex-basis: 200px;
    padding: 1.87rem;
    border-radius: 6px;
    cursor: pointer;
    p {
      max-width: 164px;
      text-align: center;
    }
  }
  &-icon {
    img {
      width: 100%;
      width: 64px;
      height: 64px;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    .content-heading {
      font-size: 1.5rem;
      color: var(--dark);
      font-weight: 500;
    }
    p {
      max-width: 707px;
    }
  }
}

.tabs--active {
  background-color: var(--dark);
  color: var(--white);
  p {
    color: var(--white);
  }
}

.card {
  padding: 2.37rem;
}

//header

.logo {
  a {
    font-weight: 600;
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--dark);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 2.5rem 0;
  @media screen and (max-width: 950px) {
    display: none;
  }
  .header-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    ul {
      display: flex;
      gap: 3.125rem;
    }
  }
}

.mobile-header {
  display: none;
  @media screen and (max-width: 950px) {
    display: block;
  }
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-header-menu {
    z-index: 98;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      a {
        text-transform: capitalize;
        color: var(--dark);
        font-size: 2rem;
        text-align: center;
      }
    }
    .button-group {
      display: flex;
      flex-direction: column;
    }
  }
}

.mobile-header-menu--active {
  height: 100vh !important;
  visibility: visible !important;
}

//header

//hero

.hero {
  background-color: #f9f9f9;
  .section-wrapper {
    @media screen and (max-width: 425px) {
      padding-top: 50%;
    }
    padding-top: 15%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    gap: 3.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.25rem;
    }
  }
  form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 475px;
    gap: 1.25rem;
    @media screen and (max-width: 425px) {
      flex-direction: column;
      align-items: center;
    }
    input {
      width: 100%;
      outline: none;
      height: 50px;
      padding: 1rem 1.25rem;
      background-color: var(--white);
      border: 1px solid var(--dark);
      &::placeholder {
        color: var(--dark);
      }
    }
  }
}

//hero

//parteners
.parteners {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    align-items: center;
    justify-content: space-between;
  }
}
//parteners

//solution

.solution {
  h2 {
    max-width: 604px;
  }
  .section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
  }
}

//solution
//compliant

.compliant {
  overflow: hidden;
  padding: 3rem 0;
  .col:last-child {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-image: url(./assets/img/compliant-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    .gmail {
      position: absolute;
      top: 0;
      right: -20%;
      z-index: -1;
    }
    .message {
      position: absolute;
      top: -10%;
      right: -40%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--accent);
      gap: 0.8rem;
      border-radius: 12px;
      padding: 1.25rem;
      @media screen and (max-width: 1024px) {
        right: -20%;
      }
      @media screen and (max-width: 425px) {
        right: -5%;
      }

      &-icon {
        border-radius: 100px;
        width: 40px;
        width: 40px;
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
      }
      &-description {
        color: var(--white);
        font-size: 0.62rem;
        line-height: 1.2;
        font-weight: 400;
        max-width: 123px;
      }
    }
  }
  .feature-list {
    gap: 1.87rem;
    .feature-item {
      p {
        font-size: 1rem;
        font-weight: 600;
      }
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2.37rem;
    align-items: flex-start;
    background-color: var(--white);
    gap: 0.83rem;
    box-shadow: 0px 25px 70px 10px rgba(0, 0, 0, 0.08);

    &-icon {
      border-radius: 100px;
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(233, 242, 255, 1);
    }
    &-heading {
      color: #1877f3;
    }
    &-descr {
      font-size: 0.87rem;
      font-weight: 400;
      max-width: 253px;
      line-height: 1.5;
    }
  }
}

//compliant
//tools

.tools {
  &-wrapper {
    position: relative;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 345px;
    max-width: 557px;

    .facebook {
      position: absolute;
      top: -10%;
      right: -10%;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      gap: 0.62rem;
      padding: 1.37rem;
      box-shadow: 0px 9px 40px -10px rgba(0, 0, 0, 0.1);
      &-heading {
        font-size: 1rem;
        font-weight: 500;
      }
      &-content {
        font-size: 1rem;
        b {
          font-weight: 500;
        }
      }
    }

    .achivement-icon {
      position: absolute;
      top: -10%;
      left: -10%;
    }
    .file-icon {
      position: absolute;
      bottom: -10%;
      left: 10%;
    }

    .add-more {
      position: absolute;
      bottom: -10%;
      right: -10%;
      display: flex;
      gap: 1.25rem;
      font-size: 1.125rem;
      background-color: #fff;
      padding: 1.625rem 1.813rem;
      box-shadow: 0px 25px 87px -15px rgba(149, 149, 149, 0.36);
      border-radius: 2.63333px;
    }

    .drop-element {
      display: flex;
      border: 1px dashed var(--gray);
      padding: 1rem 1.5rem;
      align-items: center;
      gap: 0.87rem;
      &-heading {
        color: var(--dark);
        font-size: 1.125rem;
        font-weight: bold;
      }
      &-descr {
        font-size: 0.62rem;
        .green-accent {
          color: #5edc89;
        }
      }
      &-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
  }
}

//tools
//conversation

.conversation {
  &-img {
    background-color: var(--accent);
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 21px;
    justify-content: center;
  }
}

//conversation

//automatization
.automatization {
  .section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .automat-card {
    margin-top: 5.063rem;
  }
  button {
    margin-top: 2.75rem;
  }
}
.automat-card {
  padding: 2.938rem 1.5rem;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.688rem;
  &__icon {
    background-color: var(--accent);
    padding: 1rem;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__text {
      color: var(--white);
      font-weight: 700;
    }
  }
  &__heading {
    font-weight: 700;
  }
  &__text {
    margin-top: 1.438rem;
    max-width: 228px;
    text-align: center;
  }
}

//automatization

//testimonial

.testimonial {
  .testimonial-slider__wrapper {
    display: flex;
    justify-content: center;
  }
  .section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
//testimonial
