@import "../node_modules/swiper/swiper-bundle.css";

@import url(../node_modules/reset.css/reset.css);
// @import url(../node_modules/normalize.css/normalize.css);

:root {
  --dark: #202020;
  --gray: #565656;
  --gray-darklight: #cbcbcb;
  --gray-light: #f4f4f4;
  --accent: #6d23ff;
  --white: #fff;
  --font-family: "Space Grotesk";
  --content-width: 1300px;
  --container-offset: 20px;
  --container: calc(var(--content-width) + (var(--container-offset) * 2));
  --header-offset: 99px;
  --light-blue: #e9f2ff;
  --blue: #1877f3;
}

.page-body {
  position: relative;
  font-family: var(--font-family);
  font-size: 1rem;
  margin: 0;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-offset);
}

.wrapper {
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

.section {
  margin-top: 160px;
}

.button-small {
  padding: 15px 17px;
  background-color: transparent;
  color: var(--dark);
  font-weight: 700;
  font-size: 1rem;
  text-transform: capitalize;
  border: 1px solid var(--gray-darklight);
  line-height: 1;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: var(--dark);
    color: var(--white);
  }
}

.button-transparent {
  padding: 15px 17px;
  background-color: transparent;
  color: var(--dark);
  font-weight: 600;
  font-size: 1rem;
  text-transform: capitalize;
  border: 1px solid transparent;
  line-height: 1;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    color: var(--accent);
  }
}

.button-outline {
  padding: 16px 30px;
  border: 1px solid var(--accent);
  background-color: transparent;
  color: var(--accent);
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: var(--accent);
    color: var(--white);
  }
}

.button-fill {
  padding: 16px 26px;
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
  border: 1px solid var(--dark);
  background-color: var(--dark);
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  &:hover {
    background-color: transparent;
    color: var(--dark);
  }
}

.heading-group {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  @media screen and (max-width: 425px) {
    font-size: 30px;
  }
}

.title-accent {
  color: var(--accent);
}

.heading-descr {
  font-size: 20px;
  line-height: 1.5;
  color: var(--gray);
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  &__input {
    padding: 17px 20px;
    border: 1px solid var(--dark);
    background-color: var(--white);
    width: 315px;
    outline: none;
    &::placeholder {
      font-size: 15px;
      color: var(--dark);
    }
  }
  @media screen and (max-width: 557px) {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    &__input {
      width: auto;
    }
  }
}

.tab {
  display: flex;
  flex-direction: column;
  &__list {
    display: flex;
    align-items: center;
    @media screen and (max-width: 850px) {
      width: 100vw;
      overflow-x: auto;
    }
  }
  &__button {
    width: 227px;
    height: 205px;
    color: var(--dark);
    border: none;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    .button__content {
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    .button__descr {
      font-size: 21px;
      font-weight: 500;
    }
    &:hover {
      background-color: var(--gray-light);
    }
  }
  .button__icon {
    stroke: currentColor;
  }
  &__button--active {
    background-color: var(--dark);
    color: var(--white);
    position: relative;
    &::after {
      position: absolute;
      content: "";
      bottom: -10px;
      left: 20%;
      width: 1px;
      height: 1px;
      border-top: 10px solid var(--dark);
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
    }
    &:hover {
      background-color: var(--dark);
    }
  }
  &__content {
    display: none;
  }
  &__content--active {
    display: block;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 40px;
  max-width: 345px;
  background-color: var(--white);
  box-shadow: 0px 25px 70px 10px rgba(0, 0, 0, 0.08);
  &__message {
    position: absolute;
    top: -50%;
    right: -10%;
    display: flex;
    align-items: center;
    max-width: 215px;
    background-color: var(--accent);
    color: var(--white);
  }
  &__icon-wrapper {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: var(--light-blue);
  }
  &__heading {
    color: var(--blue);
    font-size: 18px;
    font-weight: 500;
  }
  &__descr {
    max-width: 253px;
    line-height: 1.3;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 100px;
  }
}

@import url("./section/header/header.scss");
@import url("./section/hero/hero.scss");
@import url("./section/parteners/parteners.scss");
@import url("./section/solution/solution.scss");
@import url("./section/compliant/compliant.scss");
@import url("./section/tools/tools.scss");
@import url("./section/conversation/conversation.scss");
@import url("./section/auto/auto.scss");
@import url("./section/testimonial/testimonial.scss");
